html, body, body :not(iframe):not(div[style^="position:absolute;top:0;left:-"])
{ background-color: #181a1b !important; border-color: #776e62 !important; color: #e8e6e3 !important; }
html, body { opacity: 1 !important; transition: none !important; }
