:root {
    color-scheme: light dark;
}
html {
  overflow-y: scroll;
  background-color: #f6f6f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
    height: 100%;
    /* font-family: 'PingFangSC-Light', sans-serif;     */
    font-family: system-ui;
    -moz-user-select:none;        /* 火狐 */
    -webkit-user-select:none;    /* 谷歌 */
    -ms-user-select:none;        /* IE */
    user-select:none;
    margin:0;
    width:100%;
    text-align: center;
    background-color:#F6F6F6;
    overflow-y:scroll;
}
body{
    padding: 10px;
    max-width: 375px;
    min-width: 375px;
    width: 100%;
    min-height: 380px;
    max-height: 480px;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input {
    border: none;
    -webkit-appearance: none;
    /*去除阴影边框*/
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /*点击高亮的颜色*/
}
.header-box{
    width: 100%;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #F6F6F6;
}
.main-icon{
    display: block;
    padding: 10px 0 3px 10px;
    text-align:left;
}
.main-icon img{
    width:26px;
    height:26px;
}
.header-tab{
    margin: 0 auto 10px auto;
    /* padding: 3px 0; */
    display:flex;
    flex:1;
    background: #fff;
    height: 28px;
    width: 76%;
    border: 1px solid rgba(151,151,151,0.14);
    border-radius: 7px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    position: relative;
}
.header-tab .notify{
    display: none;
    width: 26px;
    height: 26px;
    line-height: 26px;
    border-radius: 50%;
    position: absolute;
    top: -9px;
    right: -9px;
    background: #B620E0;
    color: #fff;
    font-size: 14px;
    transform: scale(.5);
    -webkit-transform: scale(.5);
}
.match-tab{
    width: 33%;
    cursor: pointer;
    font-size:13px;
    text-align: center;
    color: rgba(0,0,0,0.5);
}

.main-color{
    color:#B620E0;
}

.header-tab .active-tab{
    color:#B620E0;
}
.darkmode-tab .pro{
    background-color: #F9DF8D;
    border: 1px solid rgba(132, 86, 29, 0.3);
    color: #84561D;
    padding: 0px 4px;
    border-radius: 8px;
    font-size: 10px;
    font-weight: 500;
    margin-left: 3px;
}
.console-tab{
    width: 28%;
    cursor: pointer;
}
.darkmode-tab {
    width: 38%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}
.console-tab,.darkmode-tab{
    font-size:13px;
    /* width: 33%; */
    text-align: center;
    border-left: 1px solid #D8D8D8;
    color: rgba(0,0,0,0.5);
}
.content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-top: 71px;
    position: relative;
}
.content-box{
    background:#fff;
    border: 1px solid rgba(151,151,151,0.2);
    border-radius: 10px;
    width: 100%;
    padding-left: 10px;
}
.content-box .content-item:last-child{
    border-bottom: none;
}
.content-item{
    display: flex;
    padding: 10px 50px 10px 0;
    border-bottom: 1px solid #E0E0E0;
    position: relative;
}
.info-case{
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    text-align: left;
    justify-items: left;
    align-content: flex-start;
}
.info-case .title{
    /* display: flex; */
    font-size: 16px;
    color: #000000;
    font-weight:500;
    align-items:center;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 25px;
}
.info-case .title img{
    width: 16px;
    height: 16px;
    padding-right: 4px;
    position: relative;
    top: 2px;
}
.content-container .content-box .info-case .title span.version{
    color: #B620E0;
    font-size: 13px;
    padding: 0 5px;
}
.content-item.manually .info-case .title span, .stop .info-case .title span{
    color: #B620E0;
    font-size: 13px;
    padding-left:5px;
}
.start .info-case .title span{
    color: #8A8A8A;
    font-size: 13px;
    padding-left:5px;
}
.info-case .name{
    display: flex;
    font-size: 14px;
    color: #000000;
    padding: 5px 0;
}
.info-case .desc{
    font-size: 13px;
    color: #8A8A8A;
    padding: 5px 0;
    text-align: left;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.active-case{
    display: flex;
    width:50px;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    flex-direction: column;
}
.active-setting{
    /* position: absolute; */
    width: 40px;
    height: 40px;
    /* right: 50px; */
    background-image: url(./images/settings.png);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: center;
    /* top: 50%; */
}
.active-manually{
    /* position: absolute; */
    width: 40px;
    height: 40px;
    /* right: 50px; */
    background-image: url(./images/manaully.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    /* top: 50%; */
}
.start .active-case .active-icon{
    /* transform: scale(0.5, 0.5); */
    /* transition: transform 0.5s linear, opacity 0.5s linear; */
    background-image:url(./images/start-icon.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40%;
    background-position: center;
}
.stop .active-case .active-icon{
    /* transform: scale(0.5, 0.5); */
    /* transition: transform 0.5s linear, opacity 0.5s linear; */
    background-image:url(./images/stop-icon.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: 40%;
    background-position: center;
}
.content-none{
    width: 100%;
    padding-top: 40px;
    text-align: center;
}
.error-log .console-con{
    color: #f81948;
}
.console-item{
    width: 100%;
    /* display: flex; */
    /* flex-direction: row; */
    padding: 10px 0;
    /* justify-content: space-between; */
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #E0E0E0;
}
.console-con{
    /* display: flex; */
    text-align: left;
    color: #000000;
    font-size: 13px;
    line-height: 17px;
}
.console-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.console-time{
    text-align: left;
    white-space: nowrap;
    color: rgba(0,0,0,0.5);
    font-size: 13px;
    padding-bottom: 4px;
}
.console-name{
    /* display: flex; */
    /* flex: auto 1; */
    text-align: right;
    white-space: nowrap;
    color: rgba(0,0,0,0.5);
    font-size: 13px;
    padding-bottom: 4px;
}

.content-box .console-item:last-child{
    border-bottom: none;
}

.register-menu-popup{
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0);
}
.register-menu-warpper{
    width: 100%;
    position: absolute;
    padding-top: 41px;
    bottom: 0;
    border-radius: 10px;
    border: 1px solid rgba(151,151,151,0.2);
    border-bottom: 0;
    background-color: #f6f6f6;
}
.register-menu{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 41px;
}
.menu-close{
    background-color: #f6f6f6;
    color: #000000;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* border-bottom: 1px solid rgba(151,151,151,0.2); */
    position: fixed;
    height: 40px;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu-close .close{
    padding: 0 15px;
    height: 100%;
    align-items: center;
    display: flex;
}
.menu-item-box{
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}
.menu-content{
    display: none;
    background:#fff;
    border: 1px solid rgba(151,151,151,0.2);
    border-radius: 10px;
    padding-left: 10px;
    width: 100%;
}
.menu-item{
    width: 100%;
    display: flex;
    padding: 10px 50px 10px 0;
    border-bottom: 1px solid #E0E0E0;
    position: relative;
    font-size: 14px;
    color: #000000;
}
.menu-content .menu-item:last-child{
    border-bottom: none;
}
.none-menu{
    text-align: left;
    padding: 10px;
}

.filter-form-show {
    opacity: 1;
    height: 100%;
    -webkit-transform:translate3d(0,41px,0);
    -moz-transform:translate3d(0,41px,0);
    -ms-transform:translate3d(0,41px,0);
    -o-transform:translate3d(0,41px,0);
    transform:translate3d(0,41px,0);
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    -ms-transition:all 0.3s;
    -o-transition:all 0.3s;
    transition:all 0.3s;
    /* 动画：自下而上展示 */
    animation: bottom2Top 0.3s infinite;
    animation-fill-mode: forwards;
    animation-iteration-count:1;
}
 
.filter-form-hide {
    opacity: 0;
    height: 0;
    /* 动画：自下而上展示 */
    animation: top2Bottom 0.3s infinite;
    animation-fill-mode: forwards;
    animation-iteration-count:1;
}

.toast-warpper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4000;
    width: 200px;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #fff;
    color: #000000;
    font-size: 14px;
    display: none;
}
.darkmode-container{
    width: 78%;
    margin: 0 auto;
    padding: 20px 0;
}
.darkmode-upgrade, .darkmode-pro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}
.darkmode-img img{
    width: 100px;
    height: 100px;
}
.upgrade-btn{
    border-radius: 15px;
    font-weight: 500;
    background-color: #F9DF8D;
    border: 1px solid rgba(132, 86, 29, 0.3);
    color: #84561D;
    font-size: 15px;
    padding: 2px 18px;
    margin-top: 12px;
}
.darkmode-setting{
    margin: 0 auto 15px auto;
    display: flex;
    /* flex: 1; */
    background: #fff;
    height: 26px;
    width: 100%;
    border: 1px solid #B620E0;
    border-radius: 7px;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    position: relative;
}
.darkmode-setting .setting:first-child{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.darkmode-setting .setting:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}
.darkmode-setting .setting{
    width: 33.33%;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
    font-weight: 400;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    justify-items: center;
    text-align: center;
    flex-flow: column;
}
.darkmode-pro .darkmode-setting .active {
    color: #FFFFFF;
    background: #B620E0;
}
.darkmode-web{position: relative;margin-bottom: 10px;width: 100%;}
.darkmode-web input.website-input{
    width: 100%;
    padding: 0 30px 0 10px;
    border-radius: 7px;
    border: 1px solid #B620E0;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
}
.check-box{
    position: absolute;
    right: 2px;
    top: 2px;
    width: 26px;
    height: 20px;       
}
.check-box input.allow{
    cursor: pointer;
    position: relative;
    width: 11px;
    height: 11px;
}
 input[type=checkbox]::after {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #fff;
    color: #fff;
    height: 12px;
    width: 12px;
    display: inline-block;
    visibility: visible;
    text-align: center;
    content: '';
    border-radius: 2px;
    box-sizing: border-box;
    border: 1px solid #B620E0;
}
input[type='checkbox']:checked::after {
    content: '✓';
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    color: #ffffff;
    background-color: #B620E0;
 }
.darkmode-note{
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);
}


.toast-container{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 4000;
    width: 240px;
    height: 70px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #fff;
    color: #000000;
    font-size: 14px;
    display: none;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    box-shadow:  0 12px 32px rgba(0, 0, 0, .1), 0 2px 6px rgba(0, 0, 0, .08);
}
.toast-container .title{
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    text-overflow:ellipsis;
    overflow:hidden;
    display: -webkit-box;
    -webkit-line-clamp:1;
    -webkit-box-orient:vertical;
    padding-bottom: 4px;
    line-height: 29px;
    width: 100%;
}
.toast-show {
    opacity: 1;
    /* 动画：自下而上展示 */
    animation: animate 0.3s infinite;
    animation-fill-mode: forwards;
    animation-iteration-count:1;
}
.toast-hide{
    opacity: 0;
    height: 0;
    animation: top2Bottom 0.3s infinite;
    animation-fill-mode: forwards;
    animation-iteration-count:1;
}

@keyframes animate{
    from {
        height: 0px;
        bottom : 0;
    }
    to {
        height: 70px;
        bottom : 10px;
    }
}

/* 自下而上 */
@keyframes bottom2Top {
    from{height: 0px;}
    to{height: 100%;}
}
@-moz-keyframes bottom2Top {
    from{height: 0px;}
    to{height: 100%;}
}
@-webkit-keyframes bottom2Top {
    from{height: 0px;}
    to{height: 100%;}
}
@-o-keyframes bottom2Top {
    from{height: 0px;}
    to{height: 100%;}
}

/* 自上而下 */
@keyframes top2Bottom {
    to{height: 0px;}
    from{height: 100%;}
}
@-moz-keyframes top2Bottom {
    to{height: 0px;}
    from{height: 100%;}
}
@-webkit-keyframes top2Bottom {
    to{height: 0px;}
    from{height: 100%;}
}
@-o-keyframes top2Bottom {
    to{height: 0px;}
    from{height: 100%;}
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
    body {
        font-family: system-ui;
        background-color:#000000;
    }
    
    .header-box,.register-menu-warpper, .toast-warpper, .toast-container{
        background-color: #000000;
    }

    .content-box, .menu-content, .menu-close{
        background:rgb(28,28,30);
    }
    .content-item, .menu-item{
        border-bottom:1px solid #565656;
    }
    .info-case .name, .menu-content, .menu-close .close, .menu-item, .toast-warpper, .toast-container{
        color: #FFFFFF;
    }
    .info-case .title{
        color: #FFFFFF;
    }
    .info-case .desc{
        color: #c5c5c5;
    }
    .start .info-case .title span{
        color: #c5c5c5;
    }
    .match-tab {
        color: #c5c5c5;
    }
    .console-tab, .darkmode-tab{
        border-left: 1px solid #565656;
        color: #c5c5c5;
    }
    .header-tab{
        background:rgb(28,28,30);
    }
    .console-name{
        color: #c5c5c5;
    }
    .console-time{
        color: #c5c5c5;
    }
    .console-con{
        color: #ffffff;
    }
    .console-item{
        border-bottom:1px solid #565656;
    }
    .stop .active-case .active-icon{
        background-image:url(./images/stop-dark.png);
    }
    .active-setting{
        background-image: url(./images/settings-white.png);
    }
}

