:root {
    color-scheme: light dark;
}
html {
  overflow-y: scroll;
  background-color: #f6f6f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html * {
  outline: 0;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
  height: 100%;
  font-family: 'PingFangSC-Light', sans-serif;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    margin:0;
    width：100%;
    padding: 10px;
    font-family: system-ui;
    text-align: center;
    background-color:#F6F6F6;
}
.header-box{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.main-icon{
    padding: 6px 0 0 6px;
    text-align:left;
}
.main-icon img{
    width:26px;
    height:26px;
}
.header-tab{
    margin: 0 auto 10px auto;
    padding: 3px 0;
    display:flex;
    flex:1;
    background: #fff;
/*    height: 28px;*/
    width: 188px;
    border: 1px solid rgba(151,151,151,0.14);
    border-radius: 7px;
}
.match-tab{
    width: 94px;
    font-size:15px;
    text-align: center;
    line-height:26px;
    color:#B620E0;
}

.console-tab{
    font-size:15px;
    width: 94px;
    text-align: center;
    line-height:26px;
    border-left: 1px solid #D8D8D8
}

.content-box{
    
}
.content-item{
    display: flex;
    
}
.info-case{
    display: flex;
}
.info-case title{}
.info-case name{}
.info-case desc{}
.active-case{
    display: flex;
}

.placeholder{
    font-size:16px;
}

.tableview{
}

.tableview .cell{
    display: -webkit-flex;
    display: flex;
    align-items: center;
    border-radius:10px;
    font-size:16px;
    border: 1px solid #FFFFFF;
    background-color:#FFFFFF;
    height:45px;
}

.tableview .cell .icon{
    border-radius:8px;
    width: 28px;
    height: 28px;
    margin-left:10px;
}

.tableview .cell .title{
    max-width:70%;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    margin-left:10px;
}

.tableview .cell .accessor{
    margin-left:auto;
    margin-right:10px;
    background-image: url("safari-web-extension://__MSG_@@extension_id__/images/accessor.png");
    background-size:18px;
    width: 18px;
    height: 18px;
}

@media (prefers-color-scheme: dark) {
    /* Dark Mode styles go here. */
    body {
        padding: 15px;

        font-family: system-ui;
        text-align: center;
        background-color:#000000;
    }
    
    .tableview .cell{
        display: -webkit-flex;
        display: flex;
        align-items: center;
        border-radius:10px;
        font-size:16px;
        border: 1px solid #1C1C27;
        background-color:#1C1C27;
        height:45px;
    }
}
